.diamond-first-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 70px;
  background-color: #2b3550;
  clip-path: polygon(100% 0, 100% 100%, 3% 100%, 0 100%, 0 0);
}
.diamond-second-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px;
  height: 65px;
  background-color: #0f1524;
  clip-path: polygon(2% 0, 100% 0, 100% 77%, 98% 100%, 0 100%, 0 30%);
  transition: ease-in-out 0.3s;
}
.diamond-third-box {
  width: 290px;
  padding: 5px 30px;
  background-color: #2b3550;
  clip-path: polygon(3% 0, 100% 0, 100% 60%, 97% 100%, 0 100%, 0 40%);
}
.diamond-second-box:hover {
  background-color: #00c3ff73;
}

.country-BTN {
  width: 400px;
  height: 60px;
  clip-path: polygon(
    53% 100%,
    50% 85%,
    47% 100%,
    5% 100%,
    0 50%,
    5% 0,
    47% 0,
    50% 10%,
    53% 0,
    95% 0,
    100% 50%,
    95% 100%
  );
  margin-bottom: 10px;
}
.country-triangle-One {
  width: 63px;
  height: 23px;
  background: #1c243a;
  border: 1px solid #00c3ff73;
  clip-path: polygon(25% 0, 0 0, 0 100%);
}
.country-triangle-two {
  width: 42px;
  height: 23px;
  background: #1c243a;
  border: 1px solid #00c3ff73;
  clip-path: polygon(63% 0, 100% 0, 100% 100%);
}
.country-triangle-three {
  width: 63px;
  height: 23px;
  background: #1c243a;
  border: 1px solid #00c3ff73;
  clip-path: polygon(23% 100%, 0 100%, 0 0);
}
.country-triangle-four {
  width: 42px;
  height: 23px;
  background: #1c243a;
  border: 1px solid #00c3ff73;
  clip-path: polygon(63% 100%, 100% 100%, 100% 0);
}
/* === User Section === */
.userSection {
  background-color: #2b3550;
  clip-path: polygon(5% 0, 100% 0, 100% 95%, 95% 100%, 0 100%, 0 5%);
}
.userInpt {
  clip-path: polygon(5% 0, 100% 0, 100% 70%, 95% 100%, 0 100%, 0 30%);
}

.buyBtn {
  clip-path: polygon(10% 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0 30%);
  box-shadow: inset 1px 1px 8px white, inset -1px -1px 8px #00c3ff73;
}
.buyBtn:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: inset 1px 1px 8px green, inset -1px -1px 8px #00c3ff73;
}
/* ==== Order Details Section === */
.orderCard {
  clip-path: polygon(95% 0, 100% 20%, 100% 100%, 5% 100%, 0 80%, 0 0);
}
.rulesBtn {
  gap: 10px;
  height: 90px;
  display: flex;
  max-width: 600px;
  overflow: auto hidden;
  align-items: center;
  padding: 10px 10px;
  background-color: #0f1524;
}
/* .rulesBtn::-webkit-scrollbar {
} */
/* .rulesBtn {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 10rem;
  justify-content: stretch;
  animation: animate 10s linear infinite;
}
@keyframes animate {
  to {
    translate: calc(-9 * 16rem);
  }
} */
.detailsBtn {
  clip-path: polygon(10% 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0 30%);
  box-shadow: inset 1px 1px 8px white, inset -1px -1px 8px #00c3ff73;
}
.detailsBtn:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: inset 1px 1px 8px green, inset -1px -1px 8px #00c3ff73;
}
.orderCardDetails {
  clip-path: polygon(95% 0, 100% 10%, 100% 100%, 5% 100%, 0 90%, 0 0);
}
