@import "tailwindcss";

@font-face {
    font-family: Ubuntu;
    src: url(/public/fonts/Ubuntu-Regular.ttf);
}

@theme{
    --font-Ubuntu: Ubuntu, 'sans-serif';
    --color-mainbg: #000000;
    --color-primarybg: #1A1A1A;
    --color-cardbg: #333333;
    --color-border_clr: #bfbfbf;
    --color-hoverbdr: #00C3FF;
}
